<div>
    <h2>Cursos destacados</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Descripcion
                </th>
                <th>
                    Imagen
                </th>
                <th>
                    CodCategoria
                </th>
                <th>
                    Fecha
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.CursosDestacados)
            {
                <tr>
                    <td>
                        @item.Descripcion
                    </td>
                    <td>
                        @item.Imagen
                    </td>
                    <td>
                        @item.CodCategoria
                    </td>
                    <td>
                        @item.Fecha
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CodCurso">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CodCurso">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CodCurso">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>