@model IEnumerable<BackOffice.Models.Context.Curso>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destacado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @if (item.Imagen != null)
                {
                    <img height="50" src="@Url.Action("GetImg", "Curso", new { item.CodCurso })" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destacado)
            </td>
            <td>
                <time asp-date-time="@item.Fecha" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodCurso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodCurso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodCurso">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
